@charset "UTF-8";

/* Layout Small Screens */
header {
	height: 75px;
	background: url(../images/banner_small.jpg) no-repeat right 0px;
}

header a.logo {
	width: 105px; height: 40px;
	top: 16px; right: 15px;
	background-image: url(../images/logo3_small.png);
}

article { padding: 20px 20px 10px 20px; }

body { background-image: none;  }